In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_squared_error
from sklearn.metrics import confusion_matrix
from sklearn.metrics import classification_report
from sklearn.metrics import precision_score
from sklearn.metrics import recall_score
from sklearn.metrics import fbeta_score
from sklearn.metrics import r2_score
from sklearn.cluster import KMeans
from sklearn import metrics
from sklearn.metrics import silhouette_score
from sklearn.tree import DecisionTreeRegressor
from sklearn import preprocessing

In [4]:
treino_c = pd.read_csv("data/regression_train.csv")

In [5]:
teste_c = pd.read_csv("data/regression_test.csv")

In [6]:
treino_c.head()

,target,X1,X2,X3,X4,X5,X6,X7
0,NaN,-0.546168,NaN,47.063305,1.611370,-65.882137,0,-16.672865
1,47.735389,3.074317,-2.836000,49.396649,0.261998,-66.570716,0,-6.664599
2,NaN,-1.485531,-13.102537,42.367991,3.991558,-67.108014,8,-30.790962
3,908.202209,6.907396,-0.308967,57.228787,0.256771,-66.181266,5,-0.726072
4,1640.461863,1.916788,3.460290,51.703375,2.463790,-65.143663,5,8.131680

In [7]:
treino_c.describe()

,target,X1,X2,X3,X4,X5,X6,X7
count,715.000000,1042.000000,1031.000000,1042.000000,1042.000000,1042.000000,1042.000000,1042.000000
mean,1349.940229,2.421925,-0.460781,52.094329,2.462871,-65.284233,4.381958,-1.287435
std,1593.201095,3.182976,4.426286,31.374828,2.541632,9.033489,3.290306,11.066380
min,0.062551,-8.699406,-13.651540,38.035456,0.002360,-121.450423,0.000000,-69.835905
25%,230.632308,0.170590,-3.307931,47.087106,0.671196,-69.126630,0.000000,-7.830007
50%,808.374368,2.508671,-0.461150,49.972867,1.652609,-65.360660,5.000000,-1.074191
75%,1849.754221,4.540218,2.406651,52.674305,3.361181,-61.187635,8.000000,5.659476
max,10382.469480,12.380693,12.926106,500.000000,18.813009,53.919202,8.000000,30.376348

In [8]:
treino_c.fillna(treino_c.mean(), inplace=True)
teste_c.fillna(teste_c.mean(), inplace=True)

In [9]:
X_train = treino_c.drop(columns = 'target')
y_train = treino_c[['target']]
X_test = teste_c.drop(columns = 'target')
y_test = teste_c[['target']]

In [10]:
rforest_c = RandomForestRegressor()
rforest_c.fit(X_train, y_train)
pred = rforest_c.predict(X_test)

<ipython-input-10-80586189879d>:2: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  rforest_c.fit(X_train, y_train)

In [11]:
print('RMSE: {:.2f}' .format(np.sqrt(mean_squared_error(y_test, pred))))
print('R2: {:.2f}' .format(r2_score(y_test, pred)))

RMSE: 370.36
R2: 0.88

In [12]:
y_test['pred'] = pred
y_test.corr()

<ipython-input-12-110734178115>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  y_test['pred'] = pred

          target      pred
target  1.000000  0.939183
pred    0.939183  1.000000

In [13]:
k = 1
for i in rforest_c.feature_importances_:
  print('Variável X{}, Importance: {:.3f}' .format(k,i))
  k = k+1

Variável X1, Importance: 0.036
Variável X2, Importance: 0.643
Variável X3, Importance: 0.012
Variável X4, Importance: 0.014
Variável X5, Importance: 0.005
Variável X6, Importance: 0.003
Variável X7, Importance: 0.286